.ipynb_checkpoints/
__pycache__/
.idea/
envs/git_access_token*
.DS_Store/
.DS_Store
.pytest_cache
data
.githooks

*.log


lightning_logs/
mlruns/

slurm*
*.out
*.pkl

*.egg-info/
build/

notebooks